/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px 'PFAgoraSansPro-Regular', sans-serif; background:#fff; color:#303030; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,button,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.4;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:14px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'PFAgoraSansPro-Medium', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'PFAgoraSansPro-Regular';
    src: url('../fonts/pfagorasanspro-medium.eot');
    src: url('../fonts/pfagorasanspro-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-medium.woff') format('woff'),
         url('../fonts/pfagorasanspro-medium.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-medium.svg#pf_agora_sans_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PFAgoraSansPro-Bold';
    src: url('../fonts/pfagorasanspro-bold.eot');
    src: url('../fonts/pfagorasanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-bold.woff') format('woff'),
         url('../fonts/pfagorasanspro-bold.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-bold.svg#pf_agora_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'PFAgoraSansPro-Black';
    src: url('../fonts/pfagorasanspro-black.eot');
    src: url('../fonts/pfagorasanspro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-black.woff') format('woff'),
         url('../fonts/pfagorasanspro-black.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-black.svg#pf_agora_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PFAgoraSansPro-Light';
    src: url('../fonts/pfagorasanspro-thin.eot');
    src: url('../fonts/pfagorasanspro-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagorasanspro-thin.woff') format('woff'),
         url('../fonts/pfagorasanspro-thin.ttf') format('truetype'),
         url('../fonts/pfagorasanspro-thin.svg#pf_agora_sans_prothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap {
    min-height: 100%;
}
    .wrap:after {
        content: '';
        display: block;
        width: 100%;
        height: 120px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-header {
    overflow: hidden;
    padding-bottom: 15px;
}
    .main-logo {
        float: left;
    }
        .main-logo img {
            display: block;
            width: 130px;
            height: 69px;
        }
    .contact-box {
        float: right;
        margin-top: 7px;
    }
        .contact-box .number-tell {
            display: block;
            font: 21px 'PFAgoraSansPro-Black';
        }
        .btn-callback {
            background: none;
            border: none;
            border-bottom: 1px dotted #303030;
        }
        .btn-callback:hover {
            border: none;
        }
    .main-nav {
        margin-top: 24px;
        text-align: center;
    }
        .main-nav ul {
            display: inline-table;
            width: 600px;
        }
            .main-nav li {
                display: table-cell;
            }
                .main-nav a {
                    font: 16px 'PFAgoraSansPro-Light';
                    color: #d44c58;
                    text-decoration: none;
                }
                .main-nav li.active,
                .main-nav a:hover {
                    color: #303030;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-main-form {
    height: 520px;
    background: url("../images/content/bg_wrap_main_form.jpg") repeat;
}
    .wrap-main-form .content {
        position: relative;
        height: 100%;
    }
        .wrap-main-form .big-text {
            position: absolute;
            bottom: 205px;
            z-index: 5;
            display: block;
            width: 430px;
            font: 54px 'PFAgoraSansPro-Black';
            color: #fff;
            line-height: 1.12;
            text-shadow: 0 1px 0 rgba(196, 61, 41, 1);
        }
            .wrap-main-form .big-text:after {
                content: '';
                position: absolute;
                right: -60px;
                bottom: -115px;
                width: 121px;
                height: 158px;
                background: url("../images/content/big_arrow.png") no-repeat;
            }
        .house-picture {
            position: absolute;
            right: -92px;
            top: 50px;
            width: 760px;
            height: 404px;
        }
.box-advantages {

}
    .header-section {
        font: 24px 'PFAgoraSansPro-Bold';
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    margin-top: -104px;
    padding: 23px 0 42px;
    font-family: 'PFAgoraSansPro-Light', sans-serif;
    border-top: 1px solid #E5E5E5;
}
    .copyright {
        float: left;
        width: 195px;
    }
    .list-social-links {
        float: right;
    }
        .list-social-links li {
            float: left;
        }
    .wrap-address {
        text-align: center;
    }
        .address-footer {
            display: inline-block;
            font-style: normal;
        }
            .address-footer span {
                display: block;
                text-align: left;
            }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/